.wrapper {
  display: flex;
  justify-content: space-between;
}
.div-a,
.div-b,
.div-c,
.div-d,
.div-f {
  width: 400px;
  height: 100%;
  font-size: 25px;
  text-align: center;
}
.div-a {
  background-color: red;
}
.div-b {
  background-color: purple;
}
.div-c {
  background-color: teal;
}
.div-d {
  background-color: olive;
}
.div-f {
  background-color: blue;
}
button {
  width: 150px;
  height: 100px;
  margin: auto;
}
.button-wrapper {
  text-align: center;
  margin-top: 100px;
}
